<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloWorldService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorld" contract="MyNamespace.IHelloWorld"
                name="BasicHttpBinding_IHelloWorld" />
        </client>
    </system.serviceModel>
</configuration>